body {
    background: #F3F5FC;
}

#txtSinMensaje {
    width: 336px;
    height: 58px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;

    color: #343A40;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#txtEncriptador {
    position: absolute;
    width: 577px;
    height: 48px;
    left: 240px;
    top: 168px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;

    color: #0A3871;

    background: transparent;
    border: none;
    outline: none;
}

#aluraLogo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;

}

#respuesta {
    display: inline-block;
    
    width: 400px;
    height: 844px;
    margin: 40px;
    margin-left: 1400px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

#respuestaTextos {
    margin: 32px;
    margin-top: 579px;
    text-align: center;
}

#txtNigunMensaje {
    width: 336px;
    height: 58px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#txtIngreseTexto {
    width: 336px;
    height: 48px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#respuesta img {
    position: absolute;
    margin: 32px;
    margin-top: 243px;


}

#txtLetrasMinusculas {
    position: absolute;
    width: 229px;
    height: 18px;
    top: -25px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

#cajaBotones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 57px;
    left: 240px;
    top: 785px;
}

#btnEncriptar {
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: white;
}

#btnDesencriptar {
    box-sizing: border-box;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
}

#btnCopiar {
    box-sizing: border-box;
    text-align: center;
    padding: 24px;
    gap: 8px;
    margin-left: 30px;
    width: 336px;
    height: 67px;
    border: 1px solid #0A3871;
    border-radius: 24px;
}
#autor{    
    text-align: center;     
}